<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.neillon.login">

    <dist:module dist:title="@string/title_login">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:allowBackup="true"
        android:hasCode="false"
        android:supportsRtl="true"
        android:theme="@style/LoginFeatureLightTheme"
        tools:replace="android:theme">

        <activity
            android:name="com.neillon.incomes_tracker.signup.SignUpActivity"
            android:theme="@style/ActivityNoActionBarTheme"></activity>
        <activity
            android:name="com.neillon.incomes_tracker.login.LoginActivity"
            android:theme="@style/ActivityNoActionBarTheme" />

    </application>

</manifest>