<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.neillon.login">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_login">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/LoginFeatureTheme">

        <activity
            android:name=".SignUpActivity"
            android:theme="@style/ActivityNoActionBarTheme"></activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/ActivityNoActionBarTheme" />

    </application>

</manifest>