<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.neillon.incomes_tracker.dashboard">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_dashboard">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:theme="@style/DashboardLightTheme">

        <activity android:name=".ui.DashboardActivity" android:theme="@style/DashboardLightTheme"></activity>
    </application>

</manifest>